body {
 background-color:  #ccffff;
  text-align: center;
}

.logo {
  width: 330px;
  height: 200px;
}

a {
  text-decoration: none;
}

img {
  width: 250px;
  height: 300px;
}

div {
  background-color: #e0e0e0;
  border: 2px solid black;
  width: 300px;
  height: auto;
  float: left;
  margin: 0px 5px 0px 5px;
  
}

.npl{
	  width: 270px;
      height: 280px;
}
